<div class="status-btns">
    {{info}}
    <script type="text/javascript">
        setTimeout(function(){
            $.fancybox.close()
            $.fancybox.close()
        },2000)
    </script>
</div>