/.web-server-pid
/app/config/parameters.yml
/app/config/config_prod.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/.htaccess
/web/images/company
/web/images/company/*
/web/images/user/avatars
/web/images/user/avatars/*
rielt_id_rsa
rielt_id_rsa.pub
.htaccess