{% extends 'desk.html.twig' %}

{% block body %}
            <div class="col-sm-12">
                <h1>Панель адміністратора</h1>
                <hr />
                <h3>Вигрузки</h3>
                <a class="btn btn-default" href="{{path('admin_expotr_domria_object_list')}}">вигрузка об'єктів на dom.ria</a>
            </div>
            <div class="col-sm-12">
                <hr />
                <h3>Операції</h3>
                <a class="btn btn-default" href="{{path('crm_object_user_migration')}}">Масова передача об'єктів і їх власників</a>
            </div>
        
{% endblock %}