{% extends 'desk.html.twig' %}

{% block body %}
    <div class="container-fluid listfilterform">
        {%if(paramsForm is defined)%}
            {{ include('crm/object/_filter_form.html.twig') }}
        {%endif%}
        <a href="{{ path('crm_object_new')}}" class="btn btn-success">Створити</a>
        <br />
        <br />
    </div>
    {{ include('crm/object/_list.html.twig') }}
{% endblock %}