{% extends 'crm/object/formLayout.html.twig' %}

{% block body %}
   <div class="container-fluid">
       <div class="row">
           <div class="col-xs-12">
               <h1>Створити</h1>
               {{ include('crm/object/_form.html.twig') }}
           </div>
       </div>
   </div>
{% endblock %}